<!DOCTYPE html>
<html>
	<head>
		<title>{{.Settings.RegistryHostName}} UI</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="icon" type="image/png" href="{{.Settings.ContextRoot}}/static/favicon.png">
	</head>
	<body style="padding-top: 70px;">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{{.Settings.ContextRoot}}/">{{.Settings.RegistryHostName}} </a>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div id="images" class="row"><div class="col-xs-12">
				<table class="table table-striped">
				<thead><th style="width: 15%;">Image</th><th>Tags</th></thead>
					<tbody>
						{{range .Images -}}
						<tr>
							<td><b>{{.Name}}</b></td>
							<td>{{.FormattedTags}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
